
<div class="hoja_carta_formato print">
    <div class="margen">
        {% set col_w = formato.id is not defined or formato.id is empty?10:12 %}
        {% if formato.id is not defined or formato.id is empty %}
        <div class="row">
            <div>
                <div class="text-right pull-right hidden-print">
                    {% include 'PuertoUDESCommonBundle:Plantilla:botones.html.twig' with {
                        buttonset: 'horizontal',
                        class: 'animate in hidden-print',
                        botones  : [
                            {
                                'label' :   '<span class="glyphicon glyphicon-floppy-save"></span>',
                                'type'  :   'primary',
                                'class' :   'guardar formato-crear animate',
                                'url'   :   url('formato_save_ajax',{tipo: formato.tipo.abreviacion|upper}),
                            },
                            {
                                'class' :   'reset formato-crear animate',
                                'type'  :   'warning',
                                'label' :   '<span class="glyphicon glyphicon-refresh"></span>',
                            },
                        ],
                        sizing: 'mediano',
                    } %}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="text-center hidden-print">
            {% set dataWith = {
                id:             "formato_nombre",
                clase:          "formato-crear",
                placement:      "bottom",
                name:           "nombre",
                pk:             formato.id,
                datos:          {tipo: formato.tipo.abreviacion|upper},
                originalTitle:  "Nombre del Formato",
                entityName:     "formato",
                bundleName:     "formatos" ,
                emptyText:      "Nombre del Formato " ~ formato.tipo.abreviacion|upper,
                placeholder:    "Nombre del Formato " ~ formato.tipo.abreviacion|upper, 
                required:       "NoVacio,NumerosLetras",
                valor:          formato.nombre,
            } %}
            <h4>
                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith %}
            </h4>
        </div>
        <div class="text-justify hidden-print">
            <p>
                {% include 'PuertoUDESCommonBundle:Plantilla:_xeditable.html.twig' with dataWith|merge({
                    id:             "formato_descripcion",
                    clase:          "formato-crear",
                    name:           "descripcion",
                    type:           "textarea",
                    emptyText:      "Descripcion del Formato " ~ formato.tipo.abreviacion|upper,
                    placeholder:    "Descripcion del Formato " ~ formato.tipo.abreviacion|upper, 
                    required:       "NoVacio,NumerosLetrasConectores",
                    valor:          formato.descripcion,
                }) %}
            </p>
        </div>
        {% set data = {
            'num':      0,
            'salida':   false,
            'partida':  false,
            'destino':  false,
        } %}
        {% include 'PuertoUDESFormatosBundle:Formato:_cacf_.html.twig' with data|merge({
            salida: true,
            partida:true,
        }) %}
        {# 1 #}
        {% include 'PuertoUDESFormatosBundle:Formato:_cacf_.html.twig' with data|merge({
            num:    1,
        }) %}
        {% include 'PuertoUDESFormatosBundle:Formato:_cacf_.html.twig' with data|merge({
            num:    1,
            salida: true,
        }) %}
        {# 2 #}
        {% include 'PuertoUDESFormatosBundle:Formato:_cacf_.html.twig' with data|merge({
            num:    2,
        }) %}
        {% include 'PuertoUDESFormatosBundle:Formato:_cacf_.html.twig' with data|merge({
            num:    2,
            salida: true,
        }) %}
        {# 3 #}
        {% include 'PuertoUDESFormatosBundle:Formato:_cacf_.html.twig' with data|merge({
            num:    3,
        }) %}
        {% include 'PuertoUDESFormatosBundle:Formato:_cacf_.html.twig' with data|merge({
            num:    3,
            salida: true,
        }) %}
        {# destino #}
        {% include 'PuertoUDESFormatosBundle:Formato:_cacf_.html.twig' with data|merge({
            num:    4,
            destino: true,
        }) %}
        {% include 'PuertoUDESFormatosBundle:Formato:_cacf_.html.twig' with data|merge({
            num:    4,
            salida: true,
            destino: true,
        }) %}
    </div>
</div>