
<table class="table table-bordered">
    <tbody>
        <tr class="">
                <td rowspan="2" colspan="6">
                    <div class="logo">
                        <img src="{{ asset("bundles/puertoudescommon/images/comunidad_andina.jpeg")}}" alt="Comunidad Andina">
                    </div>
                </td>
                <td colspan="6">
                    <h3>
                        Carta de Porte Internacional por Carretera (MCI)
                    </h3>
                </td>
        </tr>
        <tr>
                <td colspan="6">
                                                                                                                        <span class="block title">
                        N° <a href="#" id="num_mci" class="x-edit editable editable-click" data-type="text" data-pk="0" data-url="http://localhost/dianFormat/web/app_dev.php/Manifiesto-de-Carga-Internacional/Ajax/Edit/formato/2" data-original-title="Dgite Número">0</a>
                    </span>
                </td>
        </tr>
        <tr>
                <td colspan="12">
                        <span class="block title">IDENTIFICACIÓN DEL TRANSPORTISTA AUTORIZADO</span>
                </td>
        </tr>
        <tr>
            <td rowspan="2" colspan="10">
                <a href="http://localhost/dianFormat/web/app_dev.php/entidad/add" class="modal-open block" modal-title="Agregar Transportista">
                        1- Denominación o razón social del transportista autorizado
                </a>
                <span id="entidad_razon_social" class="block" title="Razón Social"></span>
                <span id="entidad_nit" class="block" title="Nit"></span>
                <span id="entidad_direccion" class="block" title="Dirección"></span>
                <span id="entidad_telefono" class="block" title="Teléfono"></span>
                <span id="entidad_lugar" class="block" title="Lugar"></span>
            </td>
            <td colspan="2">
                <a class="modal-open block" href="http://localhost/dianFormat/web/app_dev.php/entidad/add" modal-title="Agregar Transportista">
                        2- Certificado de idoneidad N°
                </a>
                <span id="entidad_certificado_idoneidad"></span>
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <a href="http://localhost/dianFormat/web/app_dev.php/permisopresentaservicio/add" class="modal-open block" modal-title="Agregar Permiso de Presentación">
                        3- Permiso de presentación de Servicios N°
                </a>
                <span id="entidad_permiso_presentacion_servicios"></span>
            </td>
        </tr>
        <tr>
            <td colspan="12">
                    <span class="block title">IDENTIFICACIÓN DEL VEHICULO HABILITADO (CAMIÓN O TRACTO CAMIÓN)</span>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <a href="http://localhost/dianFormat/web/app_dev.php/vehiculo/add" class="modal-open block" modal-title=" Transportista">
                        4- Marca
                </a>
                <span id="vehiculo_marca" class="block" title="Marca"></span>
            </td>
            <td colspan="3">
                <a href="http://localhost/dianFormat/web/app_dev.php/vehiculo/add" class="modal-open block" modal-title=" Transportista">
                        5- Año de Fabricación
                </a>
                <span id="vehiculo_anio_fabricacion" class="block" title="Año de Fabricación"></span>
            </td>
            <td colspan="3">
                <a href="http://localhost/dianFormat/web/app_dev.php/vehiculo/add" class="modal-open block" modal-title=" Transportista">
                        6- Placa y País
                </a>
                <span id="vehiculo_placa_pais" class="block" title="Placa y País"></span>
            </td>
            <td colspan="3">
                <a href="http://localhost/dianFormat/web/app_dev.php/vehiculo/add" class="modal-open block" modal-title=" Transportista">
                        7- Número o Serie del Chasis
                </a>
                <span id="vehiculo_num_serie_chasis" class="block" title="Marca"></span>
            </td>
        </tr>
        <tr>
            <td colspan="12">
                <a href="http://localhost/dianFormat/web/app_dev.php/vehiculo/add" class="modal-open block" modal-title=" Transportista">
                        8- Certificado de Habilitación N°
                </a>
                <span id="vehiculo_certifica_habilitacion" class="block" title="N° Certificado de Habilitación"></span>
            </td>
        </tr>
        <tr>
            <td colspan="12">
                <span class="block title">IDENTIFICACIÓN DE LA UNIDAD DE CARGA (REMOLQUE O SEMIREMOLQUE)</span>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <a href="http://localhost/dianFormat/web/app_dev.php/unidadcarga/add" class="modal-open block" modal-title="Unidad de Carga">
                        9- Marca
                </a>
                <span id="unidadcarga_marca" class="block" title="Marca"></span>
            </td>
            <td colspan="3">
                <a href="http://localhost/dianFormat/web/app_dev.php/unidadcarga/add" class="modal-open block" modal-title="Unidad de Carga">
                        10- Año de Fabricación
                </a>
                <span id="unidadcarga_anio_fabrica" class="block" title="Año de Fábrica"></span>
            </td>
            <td colspan="3">
                <a href="http://localhost/dianFormat/web/app_dev.php/unidadcarga/add" class="modal-open block" modal-title="Unidad de Carga">
                        11- Placa y País
                </a>
                <span id="unidadcarga_placa_pais" class="block" title="Placa y País"></span>
            </td>
            <td colspan="3">
                <a href="http://localhost/dianFormat/web/app_dev.php/unidadcarga/add" class="modal-open block" modal-title="Otra Unidad de Carga">
                        12- Otro
                </a>
                <span id="unidadcarga_otro" class="block" title="Otro">
                    <span id="unidadcarga_otro_marca" class="block" title="Marca"></span>
                    <span id="unidadcarga_otro_anio_fabrica" class="block" title="Año de Fábrica"></span>
                    <span id="unidadcarga_otro_placa_pais" class="block" title="Placa y País"></span>
                </span>
            </td>
        </tr>
        <tr>
            <td colspan="12">
                    <span class="block title">IDENTIFICACIÓN DE LA TRIPULACIÓN</span>
            </td>
        </tr>
            <tr>
                <td colspan="8">
                    <a href="http://localhost/dianFormat/web/app_dev.php/conductor/add/0" class="modal-open block" modal-title="Conductor Principal">
                            13- CONDUCTOR PRINCIPAL: Nombre y Apellido
                    </a>
                    <span id="conductor_principal_nombre_apellido" class="block" title="Nombre y Apellido - Principal"></span>
                </td>
                <td colspan="4">
                    <a href="http://localhost/dianFormat/web/app_dev.php/conductor/add/1" class="modal-open block" modal-title="Conductor Auxiliar">
                            18- CONDUCTOR AUXILIAR: Nombre y Apellido
                    </a>
                    <span id="conductor_auxiliar_nombre_apellido" class="block" title="Nombre y Apellido - Auxiliar"></span>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <a href="http://localhost/dianFormat/web/app_dev.php/conductor/add/0" class="modal-open block" modal-title="Conductor Principal">
                            14- Documento de identidad
                    </a>
                    <span id="conductor_principal_doc_id" class="block" title="Documento de Identidad - Principal"></span>
                </td>
                <td colspan="4">
                    <a href="http://localhost/dianFormat/web/app_dev.php/conductor/add/0" class="modal-open block" modal-title="Conductor Principal">
                            15- Nacionalidad
                    </a>
                    <span id="conductor_principal_nacionalidad" class="block" title="Nacionalidad - Principal"></span>
                </td>
                <td colspan="3">
                    <a href="http://localhost/dianFormat/web/app_dev.php/conductor/add/1" class="modal-open block" modal-title="Conductor Auxiliar">
                        19- Documento de identidad
                    </a>
                    <span id="conductor_auxiliar_doc_id" class="block" title="Documento de Identidad - Auxiliar"></span>
                </td>
                <td colspan="3">
                    <a href="http://localhost/dianFormat/web/app_dev.php/conductor/add/1" class="modal-open block" modal-title="Conductor Auxiliar">
                            20- Nacionalidad
                    </a>
                    <span id="conductor_auxiliar_nacionalidad" class="block" title="Nacionalidad - Auxiliar"></span>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <a href="http://localhost/dianFormat/web/app_dev.php/conductor/add/0" class="modal-open block" modal-title="Conductor Principal">
                        16- Licencia de conducir N°
                    </a>
                    <span id="conductor_principal_licencia" class="block" title="N° de la Licencia de Conducción - Principal"></span>
                </td>
                <td colspan="4">
                    <a href="http://localhost/dianFormat/web/app_dev.php/entidad/new?auxiliar=0" class="modal-open block" modal-title="Conductor Principal">
                        17- Libreta de tripulante terrestre N°
                    </a>
                    <span id="conductor_principal_libreta" class="block" title="N° de la Libreta de Tripulante Terrestre- Principal"></span>
                </td>
                <td colspan="3">
                    <a href="http://localhost/dianFormat/web/app_dev.php/conductor/add/1" class="modal-open block" modal-title="Conductor Auxiliar">
                        21- Licencia de Conducir N°
                    </a>
                    <span id="conductor_auxiliar_licencia" class="block" title="N° de la Licencia de Conducción - Auxiliar"></span>
                </td>
                <td colspan="3">
                    <a href="http://localhost/dianFormat/web/app_dev.php/conductor/add/1" class="modal-open block" modal-title="Conductor Auxiliar">
                        22- Libreta de tripulante terrestre N°
                    </a>
                    <span id="conductor_auxiliar_libreta" class="block" title="N° de la Libreta de Tripulante Terrestre- Principal"></span>
                </td>
            </tr>
            <tr>
                    <td colspan="12">
                            <span class="block title">DATOS SOBRE LA CARGA</span>
                    </td>
            </tr>
            <tr>
                <td colspan="6">
                    <a href="http://localhost/dianFormat/web/app_dev.php/carga/add" class="modal-open block" modal-title=" Carga">
                            23- Lugar y País de la Carga
                    </a>
                    <span id="carga_lugar_pais_carga" class="block" title="Lugar y País de Carga"></span>
                </td>
                <td colspan="6">
                    <a href="http://localhost/dianFormat/web/app_dev.php/carga/add" class="modal-open block" modal-title=" Carga">
                            24- Lugar y País de Descarga
                    </a>
                    <span id="carga_lugar_pais_descarga" class="block" title="Lugar y País de Descarga"></span>
                </td>
            </tr>
            <tr>
                <td colspan="12">
                    <a href="http://localhost/dianFormat/web/app_dev.php/carga/add" class="modal-open block" modal-title=" Carga">
                            25- Naturaleza de la Carga
                    </a>
                    <span id="carga_naturaleza_carga" class="block" title="Naturaleza de la Carga"></span>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <a href="http://localhost/dianFormat/web/app_dev.php/entidad/add" class="modal-open block" modal-title=" Carga">
                            26- Número de Identificación de los contenedores y su capacidad (Indicar si son 20 o 40 pies u otra)
                    </a>
                    <span id="contenedor_num_capacidad" class="block" title="N° de Identificación y Capacidad"></span>
                </td>
                <td colspan="6">
                    <a href="http://localhost/dianFormat/web/app_dev.php/carga/add" class="modal-open block" modal-title=" Carga">
                            27- Número(s) de los precintos aduaneros
                    </a>
                    <span id="carga_num_precintos" class="block" title="N° de Precintos"></span>
                </td>
            </tr>
                            <tr>
                    <td rowspan="2">
                            <a href="http://localhost/dianFormat/web/app_dev.php/entidad/new" class="modal-open block" modal-title=" Transportista">
                                    28- Carta de Porte N°
                            </a>
                    </td>
                    <td colspan="6" rowspan="2">
                            <a href="http://localhost/dianFormat/web/app_dev.php/entidad/new" class="modal-open block" modal-title=" Transportista">
                                    29- Descripción de las mercancías
                            </a>
                    </td>
                    <td rowspan="2">
                            <a href="http://localhost/dianFormat/web/app_dev.php/entidad/new" class="modal-open block" modal-title=" Transportista">
                                    30- Catidad de los bultos
                            </a>
                    </td>
                    <td rowspan="2">
                            <a href="http://localhost/dianFormat/web/app_dev.php/entidad/new" class="modal-open block" modal-title=" Transportista">
                                    31- Clase y marca de los bultos
                            </a>
                    </td>
                    <td colspan="2">
                            <a href="http://localhost/dianFormat/web/app_dev.php/entidad/new" class="modal-open block" modal-title=" Transportista">
                                    32- Peso en Kilogramos
                            </a>
                    </td>
                    <td rowspan="2">
                            <a href="http://localhost/dianFormat/web/app_dev.php/entidad/new" class="modal-open block" modal-title=" Transportista">
                                    33- Volumen en m3 u otra unidad de medida
                            </a>
                    </td>
            </tr>
            <tr>
                    <td>
                            Bruto
                    </td>
                    <td>
                            Neto
                    </td>
            </tr>
                            <tr>
                    <td colspan="8">
                            <a href="http://localhost/dianFormat/web/app_dev.php/entidad/new" class="modal-open block" modal-title=" Transportista">
                                    34- Precio de las mercancías (INCOTERMS 2010) y tipo de monedas
                            </a>
                    </td>
                    <td style="border-left: none;">
                            TOTAL
                    </td>
                    <td>
                            <span id="cpic_total_peso_bruto"></span>
                    </td>
                    <td>
                            <span id="cpic_total_peso_neto"></span>
                    </td>
                    <td>

                    </td>
            </tr>
            <tr>
                    <td colspan="6" rowspan="2">
                            <a href="http://localhost/dianFormat/web/app_dev.php/entidad/new" class="modal-open block" modal-title=" Transportista">
                                    35- Observaciones de la Aduana de Partida
                            </a>
                    </td>
                    <td colspan="3">
                            <a href="http://localhost/dianFormat/web/app_dev.php/entidad/new" class="modal-open block" modal-title=" Transportista">
                                    37- Aduana(s) de Cruce de Frontera
                            </a>
                    </td>
                    <td colspan="3">
                            <a href="http://localhost/dianFormat/web/app_dev.php/entidad/new" class="modal-open block" modal-title=" Transportista">
                                    38- Aduana de Destino 
                            </a>
                    </td>
            </tr>
            <tr>
                    <td colspan="6" rowspan="3">
                            <p class="text-justify">
                                    El suscrito al hacerse cargo de las mercancías, se obliga a cumplir con las disposiciones de las normas que conforman el ordenamiento jurídico de la Comunidad Andina, en particular con la decisión 399 y su reglamento En las presentes observaciones de transporte internacional por carretera
                            </p>
                            <a href="http://localhost/dianFormat/web/app_dev.php/entidad/new" class="modal-open block" modal-title=" Transportista">
                                    39- Nombre, firma y sello del transportista autorizado o su representante
                            </a>
                    </td>
            </tr>
            <tr>
                    <td colspan="6">
                            36- Firma y sello de la autoridad que interviene en la Aduana de Partida
                    </td>
            </tr>
            <tr>
                    <td colspan="6">
                            <span class="block title">Fecha de Emisión</span>
                    </td>
            </tr>
    </tbody>
</table>