{% extends '::base.html.twig' %}

{% block body -%}
    {% if only_form is defined %}
        {{ form(edit_form) }}
    {% elseif entity.tipo is defined and entity.tipo.abreviacion is defined %}
        {% if 'mci' in entity.tipo.abreviacion or 'cpic' in entity.tipo.abreviacion%}
            {% include 'PuertoUDESFormatosBundle:Formato:_' ~ entity.tipo.abreviacion ~ '.html.twig' with {
                    formato: entity
                } %}
        {% endif %}
            
    {% else %}
        <h1>Formato edit</h1>
        
        {{ form(edit_form) }}

        <ul class="record_actions">
            <li>
                <a href="{{ path('formato_') }}">
                    Back to the list
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    
    {% endif %}

{% endblock %}
