{% extends '::base.html.twig' %}

{% block body -%}
    {% if form is defined %}
        {% if error is defined and error %}
            <div id="error-form" class="label-warning label">
                {{ error }}
            </div>
        {% endif %}
        {{ form(form) }}
    {% elseif entity.tipo is defined and entity.tipo.abreviacion is defined %}
        {% include 'PuertoUDESFormatosBundle:Formato:_' ~ entity.tipo.abreviacion ~ '.html.twig' with {
                formato: entity
            } %}
    {% else %}
        <h1>Formato creation</h1>

        {{ form(form) }}

        <ul class="record_actions">
            <li>
                <a href="{{ path('formato_') }}">
                    Back to the list
                </a>
            </li>
        </ul>
    
    {% endif %}
{% endblock %}
