{% extends '::base.html.twig' %}

{% block body -%}
    
{% include 'PuertoUDESUsuariosBundle:Usuario:_new.html.twig' %}

<ul class="record_actions">
    <li>
        <a href="{{ path('usuario_') }}">
            Volver
        </a>
    </li>
</ul>
{% endblock %}
