{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Mercancia edit</h1>

    {% include 'PuertoUDESCommonBundle:Mercancia:_edit.html.twig' %}

        <ul class="record_actions">
    <li>
        <a href="{{ path('mercancia_') }}">
            Volver
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
