{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Mercancia</h1>

    {% include 'PuertoUDESCommonBundle:Mercancia:_show' %}

        <ul class="record_actions">
    <li>
        <a href="{{ path('mercancia_') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('mercancia__edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
</ul>
{% endblock %}
