/* 
    Document   : index
    Created on : 8/10/2013, 03:15:15 PM
    Author     : hender
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    padding-top: 70px; 
}
form{
    opacity: 0;
    display: none;
}
div{
    position: relative;
}
.btn-group,
.btn-group-vertical,
.btn-group > .btn,
.btn-group-vertical > .btn{
    border-radius: 0;
}
.editable-container form,
.animate{
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 500ms;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-delay: 0s;
    -moz-transition-duration: 500ms;
    -moz-transition-property: all;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-delay: 0s;
    -ms-transition-duration: 500ms;
    -ms-transition-property: all;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-delay: 0s;
    -o-transition-duration: 500ms;
    -o-transition-property: all;
    -o-transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-duration: 500ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.animate.in{
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    
}
.animate.out{
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -ms-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    
}
.form-control{
    margin: 5px 0;
}
.navbar-collapse{
    /*min-height: 60px;*/
}
.mensajes > div{
    display: none;
    opacity: 0;
}
#mensajes{
    position: fixed;
    max-height: 85%;
    padding-right: 15px;
    right: -15px;
    opacity: 0;
    top: 0px;
    overflow: auto;
}
#mensajes .alert{
    opacity: 0;
}
.btn-group-vertical .btn.animate.in,
#mensajes.in{
    top: 70px;
    max-width: 215px;
    z-index: 9999999999999999;
}
.editable-container form,
form.in,
#mensajes.in,
#mensajes .alert.in{
    display: block;
    opacity: 1;
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -ms-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
}
.btn-group-vertical .btn.animate.out,
.btn-group.animate.out,
#mensajes .alert.out{
    max-height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    border: 0px solid;
}
.btn.animate.out{
    max-width: 0;
    padding: 0;
    border-width: 0px;
    opacity: 0;
}
.btn.animate.in{
    max-width: 215px;
    padding: auto;
    border-width: 1px;
}
.navbar-form{
    max-height: 60px;
}

.input-group.input-group-lg input{
    width: 70%;
}
.input-group.input-group-lg button{
    width: 30%;
}
/*table.table tbody tr td{
    vertical-align: middle;
}*/

/******************** FORMATOS-MCI ********************/
.hoja_carta_formato{
    /*height: 27.9cm;*/
    min-height: 27.9cm;
    width: 21.6cm;
    margin: 0 auto;
    box-shadow: 0 0 15px -4px;
    font-size: 105%;
    /*font-size: 9px;*/
}

.hoja_carta_formato > .margen {
    padding: 0.5cm 1cm;
}

.hoja_carta_formato table tr td:not(.title):not(.text-center):not(.valor-cpic) {
    padding: 0px 0px 0px 0px;
    vertical-align: top;
    text-align: left;
}
.logo img{
    height: 45px;
}
.title{
    padding: 5px;
    font-size: 12px;
    font-weight: bolder;
}
td .row div:not(.enunciado):not(.opciones-filas){
    text-align: center;
}
td .row div:not(.enunciado).text-justify,
.text-justify{
    text-align: justify;
}
p .editable-container.editable-inline{
    width: 88%;
}
p .editable-container.editable-inline .control-group.form-group,
p .editable-container.editable-inline .control-group.form-group .editable-input,
p .editable-container.editable-inline .control-group.form-group .editable-input textarea{
    width: 100%;
}
.close{
    position: relative;
    right: -13px;
    top: -17px;
}
.row .pull-right .btn-group{
    z-index: 999;
}
.table .table,
.table .table-bordered{
    border-color: #FFF;
    margin-bottom: -1px;
}
.table .table thead:last-child tr:last-child th{
    border-right: 0px;
}
.table .table thead:first-child tr:first-child th{
    border-left: 0px;
}
.table th[colspan="12"],
.table td[colspan="12"]{
    width: 100%;
}
.table th[colspan="11"],
.table td[colspan="11"]{
    width: 91.66666666666667%;
}
.table th[colspan="10"],
.table td[colspan="10"]{
    width: 83.33333333333333%;
}
.table th[colspan="9"],
.table td[colspan="9"]{
    width: 75%;
}
.table th[colspan="8"],
.table td[colspan="8"]{
    width: 66.66666666666667%;
}
.table th[colspan="7"],
.table td[colspan="7"]{
    width: 58.333333333333336%;
}
.table th[colspan="6"],
.table td[colspan="6"]{
    width: 50%;
}
.table th[colspan="5"],
.table td[colspan="5"]{
    width: 41.666666666666664%;
}
.table th[colspan="4"],
.table td[colspan="4"]{
    width: 33.333333333333336%;
}
.table th[colspan="3"],
.table td[colspan="3"]{
    width: 25%;
}
.table th[colspan="2"],
.table td[colspan="2"]{
    width: 16.666666666666668%;
}
.table th[colspan="1"],
.table td[colspan="1"]{
    width: 8.333333333333334%;
}
.hoja_carta_formato table tr td.valor-cpic{
    height: 40px;
    vertical-align: middle;
    text-align: center;
}
.opciones-filas.btns-action-right.opciones-conenedor-mercancia{
    right: -316%;
}
.opciones-filas.btns-action-right{
    right: -830%;
    top: 0;
    left: auto;
    width: auto;
}
.opciones-filas,
#cpics .opciones-filas-cpic{
    position: absolute;
    margin-top: -8px;
    left: -195%;
    width: 205%;
    text-align: right;
}
.btn-group>.btn.pull-right:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-group>.btn.pull-right:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-group>.btn.pull-right:last-child:not(:first-child){
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.title > div{
    position: relative;
    margin-right: -7.5px;
}
#cliente .btns-action-right,
#empresa .btns-action-right{
    top: -20px;
}
 .btns-action-right{
    position: absolute;
    right: 0;
    top: -11px;
    display: none;
}
.row .btns-action-left{
    position: absolute;
    z-index: 999;
    display: none;
}
.btns-action-left.no-quitar,
.btns-action-right.no-quitar{
    display: block;
}
.btns-action-left.no-quitar .btn-group{
    margin-left: 7px;
}
.btns-action-right.no-quitar .btn-group{
    margin-right: 0px;
}
 .btns-action-right.fuera{
    right: -30px;
}
.btns-action-left.fuera{
    left: -20px;
}
.btns-action-left.fuera.top{
    top: -10px;
}
 .btns-action-right.mitad{
    right: -20px;
    top: -7px;
    z-index: 999;
}
.title  .btns-action-right,
.enunciado .btns-action-right{
    top: 0;
}
.row .enunciado .btns-action-left{
    left: -10px;
}
.enunciado{
    text-align: left;
}
.hoja_carta_formato table table#pad-contenedor tr td{
    border: none;
    padding-top: 15px;
    padding-bottom: 20px;
    vertical-align: middle;
}

@media print {
    body{
        padding: 0;
        margin: 0;
    }
    .visible-print {
      display: block !important;
    }
    .btn,
    .editable-empty,
    .hidden-print {
      display: none !important;
    }
    a.editable,
    a.editable:visited {
      text-decoration: none;
      border-bottom: none;
      padding: 5px;
    }
    a.editable[href]:after {
      content: "";
    }
    .imita{
        border-color: transparent;
    }
}
.mediano,
td.mediano{
    height: 46px;
}
.grande,
td.grande{
    height: 80px;
}
.extra,
td.extra{
    height: 100px;
}
.table-striped>tbody>tr:nth-child(odd)>td.border-none,
.table-striped>tbody>tr:nth-child(odd)>th.border-none,
table tr.border-none td:not(.border-l):not(.border-r),
table tr td.border-none{
    border:none;
    border-color: transparent;
}
.imita{
    border-bottom: dashed 1px #08C;
    color: #08C;
    cursor: pointer;
}
.imita.editable-empty{
    color: #d14;
}
#aduanas-cruce .row{
    height: 25px;
}
#aduanas-cruce .btns-action-left{
    left: 0;
}

.row-view-buttons.row:hover > div .btns-action-right,
.row-view-buttons.row:focus > div .btns-action-right,
.row-view-buttons.row:hover > div .btns-action-left,
.row-view-buttons.row:focus > div .btns-action-left,
table tbody tr td .row:hover > div .btns-action-left,
table tbody tr td .row:focus > div .btns-action-left,
table tbody tr th .row:hover > div .btns-action-left,
table tbody tr th .row:focus > div .btns-action-left,
table tbody tr td .row:hover > div .btns-action-right,
table tbody tr td .row:focus  > div.btns-action-right
table tbody tr th .row:hover > div .btns-action-right,
table tbody tr th .row:focus > div .btns-action-right{
    display: block;
}
.btns-action-left.actions-top,
.btns-action-right.actions-top{
    top: -10px;
}
.btns-action-right .btn-group-vertical .btn.animate.in,
.btns-action-left .btn-group-vertical .btn.animate.in{
    top: 0;
}
.editable-date.well{
    background: transparent;
}
.hoja_carta_formato .editable-date.well .datepicker table tr th,
.hoja_carta_formato .editable-date.well .datepicker table tr td{
    padding: 5px;
    vertical-align: middle;
    text-align: center;
}
.hoja_carta_formato .editable-date.well .datepicker table tr td span{
    height: 46.5px;
    line-height: 46.5px;
}
.icon-arrow-left,
.icon-arrow-right{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}
.icon-arrow-left:before {
  content: "\e091";
}

.icon-arrow-right:before {
  content: "\e092";
}
.hoja_carta_formato table table#pad-contenedor tr td.animate.out{
    height: 0;
    padding: 0;
    margin: 0;
    line-height: 0;
    opacity: 0;
}
.hoja_carta_formato table table#pad-contenedor tr.odd td{
    background-color: #F9F9F9;
}
.hoja_carta_formato table table#pad-contenedor tr.even td{
    background-color: transparent;
}
#mDialog{
    padding-top: 20px;
    margin-bottom: 0px;
    min-width: 300px;
    max-width: 600px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}
#mDialog .close{
    margin-top: 20px;
    margin-right: 20px;
}
.text-right {
    text-align: right !important;
}
.text-left {
    text-align: left !important;
}
.table thead>tr>th:not(.title), 
.table tbody>tr>th:not(.title), 
.table tfoot>tr>th:not(.title), 
.table thead>tr>td:not(.title), 
.table tbody>tr>td:not(.title), 
.table tfoot>tr>td:not(.title){
    padding-top: 0;
}
.table.row-padding{
    margin-top: 10px;
}
table.table.row-padding thead tr > td,
table.table.row-padding tbody tr > td,
table.table.row-padding tfoot tr > td{
    padding: 10px;
}
.no-border-right{
    border-right: none;
    border-right-color: transparent;
}
.border-right{
    border-right: 1px solid;
    border-right-color: #ccc;
}
.no-border-left{
    border-left: none;
    border-left-color: transparent;
}
.border-left{
    border-left: 1px solid;
    border-left-color: #ccc;
}
.no-border-top{
    border-top: none !important;
    border-top-color: transparent;
}
.border-top{
    border-top: 1px solid;
    border-top-color: #ccc;
}
.no-border-bottom{
    border-bottom: none !important;
    border-bottom-color: transparent;
}
.border-bottom{
    border-bottom: 1px solid;
    border-bottom-color: #ccc;
}
.text-midle{
    vertical-align: middle !important;
}
table>tbody>tr>td.border-l{
    border-top: none;
    border-bottom: none;
    border-left-width: 1px;
    border-left-style: solid;
}
table>tbody>tr>td.border-r{
    border-top: none;
    border-bottom: none;
    border-right-width: 1px;
    border-right-style: solid;
}
.tooltip{
    z-index: 99999999999999;
}
.modal .select2-container{
    width: 100%;
}
.modal .form-group{
    width: 100%;
}
/******************** FORMATOS-CACF ********************/
.cacf{
  margin-top: 10px;
}

.cacf h5{
  height: 30px;
}

.cacf > .col-xs-12:last-child{
  border: 1px solid #000;
  padding: 5px;
  min-height: 80px;
}

.cacf > .col-xs-12:last-child > .col-xs-12{
  min-height: 15px
}
#cacf-0-1.cacf > .col-xs-12:last-child{
    float: none;
    width: 100%;
    display: block;
}
#cacf-0-1.cacf > .col-xs-12:last-child > .col-xs-6.col-xs-6{
    display: inline-block;
    width: 50%;
    margin-left: -5px;
    float: none;
    vertical-align: top;
}
