/* 
    Document   : index
    Created on : 8/10/2013, 03:15:15 PM
    Author     : hender
    Description:
        Purpose of the stylesheet follows.
*/
@font-face {
  font-family: 'code128';
  src: url('../fonts/code128.eot');
  src: url('../fonts/128.eot?#iefix') format('embedded-opentype'), url('../fonts/code128.woff') format('woff'), url('../fonts/code128.ttf') format('truetype'), url('../fonts/code128.svg#code128') format('svg');
}
body { 
    padding-top: 70px; 
}
form{
    opacity: 0;
    display: none;
}
div{
    position: relative;
}
.btn-group,
.btn-group-vertical,
.btn-group > .btn,
.btn-group-vertical > .btn{
    border-radius: 0;
}
.editable-container form,
.animate{
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 500ms;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-delay: 0s;
    -moz-transition-duration: 500ms;
    -moz-transition-property: all;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-delay: 0s;
    -ms-transition-duration: 500ms;
    -ms-transition-property: all;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-delay: 0s;
    -o-transition-duration: 500ms;
    -o-transition-property: all;
    -o-transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-duration: 500ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.animate.in{
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    
}
.animate.out{
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -ms-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    
}
.form-control{
    margin: 5px 0;
}
.navbar-collapse{
    /*min-height: 60px;*/
}
.mensajes > div{
    display: none;
    opacity: 0;
}
#mensajes{
    position: fixed;
    max-height: 85%;
    padding-right: 15px;
    right: -15px;
    opacity: 0;
    top: 0px;
    overflow: auto;
}
#mensajes .alert{
    opacity: 0;
}
.btn-group-vertical .btn.animate.in,
#mensajes.in{
    top: 70px;
    max-width: 215px;
    z-index: 9999999999999999;
}
.editable-container form,
form.in,
#mensajes.in,
#mensajes .alert.in{
    display: block;
    opacity: 1;
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -ms-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
}
.btn-group-vertical .btn.animate.out,
.btn-group.animate.out,
#mensajes .alert.out{
    max-height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    border: 0px solid;
}
.btn.animate.out{
    max-width: 0;
    padding: 0;
    border-width: 0px;
    opacity: 0;
}
.btn.animate.in{
    max-width: 215px;
    padding: auto;
    border-width: 1px;
}
.navbar-form{
    max-height: 60px;
}

.input-group.input-group-lg input{
    width: 70%;
}
.input-group.input-group-lg button{
    width: 30%;
}
/*table.table tbody tr td{
    vertical-align: middle;
}*/

/******************** FORMATOS-MCI ********************/
.page-content,
.menu-hoja,
.hoja_carta_formato{
    margin: 0 auto;
    width: 21.6cm;
}
.page-content{
    padding: 0 30px;
}
.hoja_carta_formato{
    /*height: 27.9cm;*/
    min-height: 27.9cm;
    box-shadow: 0 0 15px -4px;
    /*font-size: 105%;*/
    font-size: 9px;
}

.hoja_carta_formato > .margen {
    padding: 0.5cm 1cm;
}

.hoja_carta_formato table tr td:not(.title):not(.text-center):not(.valor-cpic) {
    padding: 0px 0px 0px 0px;
    vertical-align: top;
    text-align: left;
}
.logo img{
    /*height: 45px;*/
    height: 5.5em;
}
.title{
    padding: 5px;
    font-size: 12px;
    font-weight: bolder;
}
td .row div:not(.enunciado):not(.opciones-filas){
    text-align: center;
}
td .row div:not(.enunciado).text-justify,
.text-justify{
    text-align: justify;
}
p .editable-container.editable-inline{
    width: 88%;
}
p .editable-container.editable-inline .control-group.form-group,
p .editable-container.editable-inline .control-group.form-group .editable-input,
p .editable-container.editable-inline .control-group.form-group .editable-input textarea{
    width: 100%;
}
.close{
    position: relative;
    right: -13px;
    top: -17px;
}
.row .pull-right .btn-group{
    z-index: 999;
}
.table .table,
.table .table-bordered{
    border-color: #FFF;
    margin-bottom: -1px;
}
.table .table thead:last-child tr:last-child th{
    border-right: 0px;
}
.table .table thead:first-child tr:first-child th{
    border-left: 0px;
}
.table:not(.declaracion-de-importacion) th[colspan="12"],
.table:not(.declaracion-de-importacion) td[colspan="12"]{
    width: 100%;
}
.table:not(.declaracion-de-importacion) th[colspan="11"],
.table:not(.declaracion-de-importacion) td[colspan="11"]{
    width: 91.66666666666667%;
}
.table:not(.declaracion-de-importacion) th[colspan="10"],
.table:not(.declaracion-de-importacion) td[colspan="10"]{
    width: 83.33333333333333%;
}
.table:not(.declaracion-de-importacion) th[colspan="9"],
.table:not(.declaracion-de-importacion) td[colspan="9"]{
    width: 75%;
}
.table:not(.declaracion-de-importacion) th[colspan="8"],
.table:not(.declaracion-de-importacion) td[colspan="8"]{
    width: 66.66666666666667%;
}
.table:not(.declaracion-de-importacion) th[colspan="7"],
.table td[colspan="7"]{
    width: 58.333333333333336%;
}
.table:not(.declaracion-de-importacion) th[colspan="6"],
.table:not(.declaracion-de-importacion) td[colspan="6"]{
    width: 50%;
}
.table:not(.declaracion-de-importacion) th[colspan="5"],
.table:not(.declaracion-de-importacion) td[colspan="5"]{
    width: 41.666666666666664%;
}
.table:not(.declaracion-de-importacion) th[colspan="4"],
.table:not(.declaracion-de-importacion) td[colspan="4"]{
    width: 33.333333333333336%;
}
.table:not(.declaracion-de-importacion) th[colspan="3"],
.table:not(.declaracion-de-importacion) td[colspan="3"]{
    width: 25%;
}
.table:not(.declaracion-de-importacion) th[colspan="2"],
.table:not(.declaracion-de-importacion) td[colspan="2"]{
    width: 16.666666666666668%;
}
.table:not(.declaracion-de-importacion) th[colspan="1"],
.table:not(.declaracion-de-importacion) td[colspan="1"]{
    width: 8.333333333333334%;
}
.hoja_carta_formato table tr td.valor-cpic{
    height: 40px;
    vertical-align: middle;
    text-align: center;
}
.opciones-filas.btns-action-right.opciones-conenedor-mercancia{
    right: -316%;
}
.opciones-filas.btns-action-right{
    right: -830%;
    top: 0;
    left: auto;
    width: auto;
}
.opciones-filas,
#cpics .opciones-filas-cpic{
    position: absolute;
    margin-top: -8px;
    left: -195%;
    width: 205%;
    text-align: right;
}
.btn-group>.btn.pull-right:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-group>.btn.pull-right:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-group>.btn.pull-right:last-child:not(:first-child){
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.title > div{
    position: relative;
    margin-right: -7.5px;
}
#cliente .btns-action-right,
#empresa .btns-action-right{
    top: -20px;
}
 .btns-action-right{
    position: absolute;
    /*right: 0;*/
    right: -15px;
    top: -11px;
    /*display: none;*///Usado para que aparezca cuando hace hover en el padre
}
.row .btns-action-left{
    position: absolute;
    z-index: 999;
    /*display: none;*///Usado para que aparezca cuando hace hover en el padre
}
.btns-action-left.no-quitar,
.btns-action-right.no-quitar{
    display: block;
}
.btns-action-left.no-quitar .btn-group{
    margin-left: 7px;
}
.btns-action-right.no-quitar .btn-group{
    margin-right: 0px;
}
 .btns-action-right.fuera{
    right: -30px;
}
.btns-action-left.fuera{
    /*left: -20px;*/
    left: -50px;
}
.btns-action-left.fuera.top{
    top: -10px;
}
 .btns-action-right.mitad{
    right: -20px;
    top: -7px;
    z-index: 999;
}
.title  .btns-action-right,
.enunciado .btns-action-right{
    top: 0;
}
.row .enunciado .btns-action-left{
    left: -10px;
}
.enunciado{
    text-align: left;
}
.hoja_carta_formato table table#pad-contenedor tr td{
    border: none;
    padding-top: 15px;
    padding-bottom: 20px;
    vertical-align: middle;
}

@media print {
    body{
        padding: 0;
        margin: 0;
    }
    .visible-print {
      display: block !important;
    }
    .btn,
    .editable-empty,
    .hidden-print {
      display: none !important;
    }
    a.editable,
    a.editable:visited {
      text-decoration: none;
      border-bottom: none;
      padding: 5px;
    }
    a.editable[href]:after {
      content: "";
    }
    .imita{
        border-color: transparent;
    }
}
.mediano,
td.mediano{
    height: 46px;
}
.grande,
td.grande{
    height: 80px;
}
.extra,
td.extra{
    height: 100px;
}
.table-striped>tbody>tr:nth-child(odd)>td.border-none,
.table-striped>tbody>tr:nth-child(odd)>th.border-none,
table tr.border-none td:not(.border-l):not(.border-r),
table tr td.border-none{
    border:none;
    border-color: transparent;
}
.imita{
    border-bottom: dashed 1px #08C;
    color: #08C;
    cursor: pointer;
}
.imita.editable-empty{
    color: #d14;
}
#aduanas-cruce .row{
    height: 25px;
}
#aduanas-cruce .btns-action-left{
    left: 0;
}

.row-view-buttons.row:hover > div .btns-action-right,
.row-view-buttons.row:focus > div .btns-action-right,
.row-view-buttons.row:hover > div .btns-action-left,
.row-view-buttons.row:focus > div .btns-action-left,
table tbody tr td .row:hover > div .btns-action-left,
table tbody tr td .row:focus > div .btns-action-left,
table tbody tr th .row:hover > div .btns-action-left,
table tbody tr th .row:focus > div .btns-action-left,
table tbody tr td .row:hover > div .btns-action-right,
table tbody tr td .row:focus  > div.btns-action-right
table tbody tr th .row:hover > div .btns-action-right,
table tbody tr th .row:focus > div .btns-action-right{
    display: block;
}
.btns-action-left.actions-top,
.btns-action-right.actions-top{
    top: -10px;
}
.btns-action-right .btn-group-vertical .btn.animate.in,
.btns-action-left .btn-group-vertical .btn.animate.in{
    top: 0;
}
.editable-date.well{
    background: transparent;
}
.hoja_carta_formato .editable-date.well .datepicker table tr th,
.hoja_carta_formato .editable-date.well .datepicker table tr td{
    padding: 5px;
    vertical-align: middle;
    text-align: center;
}
.hoja_carta_formato .editable-date.well .datepicker table tr td span{
    height: 46.5px;
    line-height: 46.5px;
}
.icon-arrow-left,
.icon-arrow-right{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}
.icon-arrow-left:before {
  content: "\e091";
}

.icon-arrow-right:before {
  content: "\e092";
}
.hoja_carta_formato table table#pad-contenedor tr td.animate.out{
    height: 0;
    padding: 0;
    margin: 0;
    line-height: 0;
    opacity: 0;
}
.hoja_carta_formato table table#pad-contenedor tr.odd td{
    background-color: #F9F9F9;
}
.hoja_carta_formato table table#pad-contenedor tr.even td{
    background-color: transparent;
}
#mDialog{
    padding-top: 20px;
    margin-bottom: 0px;
    min-width: 300px;
    max-width: 600px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}
#mDialog .close{
    margin-top: 20px;
    margin-right: 20px;
}
.text-right {
    text-align: right !important;
}
.text-left {
    text-align: left !important;
}
.table thead>tr>th:not(.title), 
.table tbody>tr>th:not(.title), 
.table tfoot>tr>th:not(.title), 
.table thead>tr>td:not(.title), 
.table tbody>tr>td:not(.title), 
.table tfoot>tr>td:not(.title){
    padding-top: 0;
}
.table.row-padding{
    margin-top: 10px;
}
table.table.row-padding thead tr > td,
table.table.row-padding tbody tr > td,
table.table.row-padding tfoot tr > td{
    padding: 10px;
}
.no-border-right{
    border-right: none;
    border-right-color: transparent;
}
.border-right{
    border-right: 1px solid;
    border-right-color: #ccc;
}
.no-border-left{
    border-left: none;
    border-left-color: transparent;
}
.border-left{
    border-left: 1px solid;
    border-left-color: #ccc;
}
.no-border-top{
    border-top: none !important;
    border-top-color: transparent;
}
.border-top{
    border-top: 1px solid;
    border-top-color: #ccc;
}
.no-border-bottom{
    border-bottom: none !important;
    border-bottom-color: transparent;
}
.border-bottom{
    border-bottom: 1px solid;
    border-bottom-color: #ccc;
}
.text-midle{
    vertical-align: middle !important;
}
table>tbody>tr>td.border-l{
    border-top: none;
    border-bottom: none;
    border-left-width: 1px;
    border-left-style: solid;
}
table>tbody>tr>td.border-r{
    border-top: none;
    border-bottom: none;
    border-right-width: 1px;
    border-right-style: solid;
}
.tooltip{
    z-index: 99999999999999;
}
.modal .select2-container{
    width: 100%;
}
.modal .form-group{
    width: 100%;
}
/******************** FORMATOS-CACF ********************/
.cacf{
  margin-top: 10px;
}

.cacf h5{
  height: 30px;
}

.cacf > .col-xs-12:last-child{
  border: 1px solid #000;
  padding: 5px;
  min-height: 80px;
}

.cacf > .col-xs-12:last-child > .col-xs-12{
  min-height: 15px
}
#cacf-0-1.cacf > .col-xs-12:last-child{
    float: none;
    width: 100%;
    display: block;
}
#cacf-0-1.cacf > .col-xs-12:last-child > .col-xs-6.col-xs-6{
    display: inline-block;
    width: 50%;
    margin-left: -5px;
    float: none;
    vertical-align: top;
}
#carousel-sesion.carousel{
    width: 70%;
    margin: 0 auto;
}
#carousel-sesion.carousel > .carousel-indicators{
    bottom: -5px;
}
#carousel-sesion.carousel .carousel-caption{
    left: 0;
    right: 0;
    bottom: 0;
    background: #333;
    background: rgba(50,50,50,0.9);
}
.navbar-brand > span:first-child{
    display: none!important;
}
@media(min-width: 900px){
    .navbar-brand > span:first-child{
        display: inline-block!important;
    }
    
}
.code128{
    position: relative;
    font-family: 'code128';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 0px;
}
table.declaracion-de-importacion{
    border-collapse:separate;
    border-spacing: 0;
}
table.declaracion-de-importacion thead>tr>td{
    vertical-align: middle;
}
.bordered,
table>tbody>tr>td.bordered,
table>thead>tr>td.bordered,
table>tfoot>tr>td.bordered,
table>thead>tr>th.bordered,
table>tfoot>tr>th.bordered,
.table.declaracion-de-importacion caption+thead tr:first-child th,
.table.declaracion-de-importacion colgroup+thead tr:first-child th,
.table.declaracion-de-importacion thead:first-child tr:first-child th,
.table.declaracion-de-importacion caption+thead tr:first-child td,
.table.declaracion-de-importacion colgroup+thead tr:first-child td,
.table.declaracion-de-importacion thead:first-child tr:first-child td{
    border: 1px solid #009e59;
}
bordered-l,
bordered-t,
bordered-r,
bordered-b,
bordered-bl,
bordered-br,
bordered-tl,
bordered-tr,
table>tbody>tr>td.bordered-br,
table>thead>tr>td.bordered-br,
table>tfoot>tr>td.bordered-br,
table>thead>tr>th.bordered-br,
table>tfoot>tr>th.bordered-br,
table>tbody>tr>td.bordered-tl,
table>thead>tr>td.bordered-tl,
table>tfoot>tr>td.bordered-tl,
table>thead>tr>th.bordered-tl,
table>tfoot>tr>th.bordered-tl,
table>tbody>tr>td.bordered-tr,
table>thead>tr>td.bordered-tr,
table>tfoot>tr>td.bordered-tr,
table>thead>tr>th.bordered-tr,
table>tfoot>tr>th.bordered-tr,
table>tbody>tr>td.bordered-b,
table>thead>tr>td.bordered-b,
table>tfoot>tr>td.bordered-b,
table>thead>tr>th.bordered-b,
table>tfoot>tr>th.bordered-b,
table>tbody>tr>td.bordered-r,
table>thead>tr>td.bordered-r,
table>tfoot>tr>td.bordered-r,
table>thead>tr>th.bordered-r,
table>tfoot>tr>th.bordered-r,
table>tbody>tr>td.bordered-t,
table>thead>tr>td.bordered-t,
table>tfoot>tr>td.bordered-t,
table>thead>tr>th.bordered-t,
table>tfoot>tr>th.bordered-t,
table>tbody>tr>td.bordered-l,
table>thead>tr>td.bordered-l,
table>tfoot>tr>td.bordered-l,
table>thead>tr>th.bordered-l,
table>tfoot>tr>th.bordered-l,
table>tbody>tr>td.bordered-bl,
table>thead>tr>td.bordered-bl,
table>tfoot>tr>td.bordered-bl,
table>thead>tr>th.bordered-bl,
table>tfoot>tr>th.bordered-bl{
    border: none;
}
.bordered-t,
.bordered-tr,
.bordered-tl,
table>tbody>tr>td.bordered-t,
table>tbody>tr>td.bordered-tr,
table>tbody>tr>td.bordered-tl{
    border-top: 1px solid #009e59;
}
.bordered-2,
.bordered-2-t,
.bordered-2-tr,
.bordered-2-tl,
table>tbody>tr>td.bordered-2,
table>tbody>tr>td.bordered-2-t,
table>tbody>tr>td.bordered-2-tr,
table>tbody>tr>td.bordered-2-tl{
    border-top-width: 3px;
}
.bordered-dotted,
.bordered-dotted-t,
.bordered-dotted-tr,
.bordered-dotted-tl,
table>tbody>tr>td.bordered-dotted,
table>tbody>tr>td.bordered-dotted-t,
table>tbody>tr>td.bordered-dotted-tr,
table>tbody>tr>td.bordered-dotted-tl{
    border-top-style: dotted;
}
.bordered-dashed,
.bordered-dashed-t,
.bordered-dashed-tr,
.bordered-dashed-tl,
table>tbody>tr>td.bordered-dashed,
table>tbody>tr>td.bordered-dashed-t,
table>tbody>tr>td.bordered-dashed-tr,
table>tbody>tr>td.bordered-dashed-tl{
    border-top-style: dashed;
}
.bordered-l,
.bordered-tl,
.bordered-bl,
table>tbody>tr>td.bordered-l,
table>tbody>tr>td.bordered-tl,
table>tbody>tr>td.bordered-bl{
    border-left: 1px solid #009e59;
}
.bordered-2,
.bordered-2-l,
.bordered-2-tl,
.bordered-2-bl,
table>tbody>tr>td.bordered-2,
table>tbody>tr>td.bordered-2-l,
table>tbody>tr>td.bordered-2-tl,
table>tbody>tr>td.bordered-2-bl{
    border-left-width: 3px;
}
.bordered-dotted,
.bordered-dotted-l,
.bordered-dotted-tl,
.bordered-dotted-bl,
table>tbody>tr>td.bordered-dotted,
table>tbody>tr>td.bordered-dotted-l,
table>tbody>tr>td.bordered-dotted-tl,
table>tbody>tr>td.bordered-dotted-bl{
    border-left-style: dotted; 
}
.bordered-dashed,
.bordered-dashed-l,
.bordered-dashed-tl,
.bordered-dashed-bl,
table>tbody>tr>td.bordered-dashed,
table>tbody>tr>td.bordered-dashed-l,
table>tbody>tr>td.bordered-dashed-tl,
table>tbody>tr>td.bordered-dashed-bl{
    border-left-style: dashed; 
}
.bordered-r,
.bordered-tr,
.bordered-br,
table>tbody>tr>td.bordered-r,
table>tbody>tr>td.bordered-tr,
table>tbody>tr>td.bordered-br{
    border-right: 1px solid #009e59;
}
.bordered-2,
.bordered-2-r,
.bordered-2-tr,
.bordered-2-br,
table>tbody>tr>td.bordered-2,
table>tbody>tr>td.bordered-2-r,
table>tbody>tr>td.bordered-2-tr,
table>tbody>tr>td.bordered-2-br{
    border-right-width: 3px;
}
.bordered-dotted,
.bordered-dotted-r,
.bordered-dotted-tr,
.bordered-dotted-br,
table>tbody>tr>td.bordered-dotted,
table>tbody>tr>td.bordered-dotted-r,
table>tbody>tr>td.bordered-dotted-tr,
table>tbody>tr>td.bordered-dotted-br{
    border-right-style: dotted; 
}
.bordered-dashed,
.bordered-dashed-r,
.bordered-dashed-tr,
.bordered-dashed-br,
table>tbody>tr>td.bordered-dashed,
table>tbody>tr>td.bordered-dashed-r,
table>tbody>tr>td.bordered-dashed-tr,
table>tbody>tr>td.bordered-dashed-br{
    border-right-style: dashed; 
}
.bordered-b,
.bordered-bl,
.bordered-br,
table>tbody>tr>td.bordered-b,
table>tbody>tr>td.bordered-bl,
table>tbody>tr>td.bordered-br{
    border-bottom: 1px solid #009e59;
}
.bordered-2,
.bordered-2-b,
.bordered-2-bl,
.bordered-2-br,
table>tbody>tr>td.bordered-2,
table>tbody>tr>td.bordered-2-b,
table>tbody>tr>td.bordered-2-bl,
table>tbody>tr>td.bordered-2-br{
    border-bottom-width: 3px;
}
.bordered-dotted,
.bordered-dotted-b,
.bordered-dotted-bl,
.bordered-dotted-br,
table>tbody>tr>td.bordered-dotted,
table>tbody>tr>td.bordered-dotted-b,
table>tbody>tr>td.bordered-dotted-bl,
table>tbody>tr>td.bordered-dotted-br{
    border-bottom-style: dotted;
}
.bordered-dashed,
.bordered-dashed-b,
.bordered-dashed-bl,
.bordered-dashed-br,
table>tbody>tr>td.bordered-dashed,
table>tbody>tr>td.bordered-dashed-b,
table>tbody>tr>td.bordered-dashed-bl,
table>tbody>tr>td.bordered-dashed-br{
    border-bottom-style: dashed;
}

.border-radius,
td.border-radius,
th.border-radius,
.declaracion-de-importacion.table-bordered>thead>tr>th.border-radius,
.declaracion-de-importacion.table-bordered>tbody>tr>th.border-radius,
.declaracion-de-importacion.table-bordered>tfoot>tr>th.border-radius,
.declaracion-de-importacion.table-bordered>thead>tr>td.border-radius,
.declaracion-de-importacion.table-bordered>tbody>tr>td.border-radius,
.declaracion-de-importacion.table-bordered>tfoot>tr>td.border-radius{
    border-radius: 5px;
}
.border-radius-l,
.border-radius-t,
.border-radius-tl{
    border-top-left-radius: 5px;
}
.border-radius-r,
.border-radius-t,
.border-radius-tr{
    border-top-right-radius: 5px;
}
.border-radius-l,
.border-radius-b,
.border-radius-bl{
    border-bottom-left-radius: 5px;
}
.border-radius-r,
.border-radius-b,
.border-radius-br{
    border-bottom-right-radius: 5px;
}
table.declaracion-de-importacion .private-format{
    background: #F1F9F2;
    color: #009e59;
    font-weight: bolder;
}
table.declaracion-de-importacion .number-format{
    font-size: 55px;
    padding: 0px;
    margin: 0;
    line-height: 50px;
    background: #009e59;
}
table.declaracion-de-importacion .number-format > :first-child{
    margin: 0px;
    border: 1px solid;
    background: transparent;
    color: #fff;
}
table.declaracion-de-importacion.table thead>tr>th:not(.title),
table.declaracion-de-importacion.table tbody>tr>th:not(.title),
table.declaracion-de-importacion.table tfoot>tr>th:not(.title),
table.declaracion-de-importacion.table thead>tr>td:not(.title),
table.declaracion-de-importacion.table tbody>tr>td:not(.title),
table.declaracion-de-importacion.table tfoot>tr>td:not(.title){
    padding: 0 5px;
}
table.declaracion-de-importacion .mensaje-contrabando{
    font-size: 18px;
    text-align: right;
    padding-right: 40px;
    margin: 30px 0px;
    color: #656263;
    font-weight: 900;
}
table.declaracion-de-importacion .mensaje-contrabando > :first-child{
    border-bottom: 3px solid;
    width: 310px;
    margin: 0 auto;
    text-align: right!important;
}
table.declaracion-de-importacion .enunciado-4 > a{
    margin-left: 5px;
    font-size: 20px;
    line-height: 2.4;
}
table.declaracion-de-importacion .enunciado-4 > div{
    text-align: center;
}
table.declaracion-de-importacion .enunciado-4 > .code128{
    font-size: 29px;
}
.verticalText{
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-transform: rotate(-90deg) translateX(-50%);
    -moz-transform: rotate(-90deg) translateX(-50%);
    -ms-transform: rotate(-90deg) translateX(-50%);
    -o-transform: rotate(-90deg) translateX(-50%);
    transform: rotate(-90deg) translateX(-50%);
}
.margen-declaracion-de-importacion{
    padding-left: 0.6cm;
}
.declaracion-de-importacion .row {
    margin: 0 0px;
}
.declaracion-de-importacion .row > .pull-right{
    margin-right: 5px;
}
.declaracion-de-importacion .row > .pull-left{
    margin-left: 5px;
}
.declaracion-de-importacion .enunciado {
    margin: 0px 0 0 5px;
    font-size: 8px;
    padding-right: 0px;
}
.declaracion-de-importacion .enunciado-32 .enunciado .pull-right{
    padding-right: 0px;
}
table.declaracion-de-importacion .enunciado-24,
table.declaracion-de-importacion .enunciado-5{
    left: -70px;
}
.declaracion-de-importacion .importador a{
    letter-spacing: 7.4px;
    margin-left: 2px;
    text-align: justify;
}
.declaracion-de-importacion .importador{
    font-size: 14px;
    margin-bottom: -5px;
}
.declaracion-de-importacion .importador .background-importador{
    position: absolute;
    z-index: -1;
    bottom: 0px;
    height: 10px;
    vertical-align: bottom;
    display: table;
}
.declaracion-de-importacion .importador .background-importador > div{
    height: 8px;
    border-right: 1px solid #009e59;
    /* float: left; */
    width: 15.1px;
    position: relative;
    bottom: 0;
    margin-left: 0px;
    /* background: #000; */
    display: table-cell;
}
.declaracion-de-importacion .importador .background-importador > div:last-child{
    border: none;
    border-left: 1px solid #009e59;
    height: 200%;
    margin-top: -10px;
    float: right;
}
.td-verticalText{
    height: 70px;
}
.hoja_carta_formato table.declaracion-de-importacion tr td:not(.title):not(.text-center):not(.valor-cpic){
    padding-bottom: 5px;
}
.hoja_carta_formato table.declaracion-de-importacion>tbody>tr>td.enunciado-59{
    background: #7CCB95;
    font-size: 30px;
    font-weight: bolder;
    text-align: center!important;
    vertical-align: middle!important;
}
.hoja_carta_formato table.declaracion-de-importacion>tbody>tr>td.enunciado-61,
.hoja_carta_formato table.declaracion-de-importacion>tbody>tr>td.enunciado-60{
    background: #eee;
}
td.relleno-autoliquidacion,
.relleno-autoliquidacion{
    background: #7CCB95;
    vertical-align: middle;
    text-align: center;
}
.relleno-autoliquidacion > .pull-right{
    background: #fff;
}

.hoja_carta_formato table.declaracion-de-importacion tr td.denunciado-92,
.hoja_carta_formato table.declaracion-de-importacion tr td.denunciado-92 > table.table > tr > td{
    padding: 0;
}
.factura-destino-aduana,
.factura-partida-aduana{
    min-height: 25PX;
}