
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Numero</th>
                <td>{{ entity.numero }}</td>
            </tr>
            <tr>
                <th>Capacidad</th>
                <td>{{ entity.capacidad }}</td>
            </tr>
            <tr>
                <th>Sigla</th>
                <td>{{ entity.sigla }}</td>
            </tr>
        </tbody>
    </table>

{{ form(delete_form) }}
