<div class="row-fluid">
    <div class="row-fluid">
        <div class="col-lg-12 col-md-12 {{ claseContentTitle is defined?claseContentTitle:'' }}">
            <h1>
            {% if title is defined%}
                {{ title }}
            {% endif %}
            </h1>
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-lg-12 col-md-12 {{ claseContentForm is defined?claseContentForm:'' }}">
            {{ form(form) }}
        </div>
    </div>
</div>