{% extends '::base_bootstrap_cover.html.twig' %}

{% trans_default_domain 'PuertoUDESFosUsuarioBundle' %}

{%- block login -%}

    {% if error %}
        {% include 'PuertoUDESCommonBundle:Plantilla:_alert.html.twig' with {
            tipo:   'danger',
            mensaje:   error|trans,
        } %}
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-inline">
        <div class="form-group">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        </div>

        <div class="form-group">
            <label for="username">Usuario</label>
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        </div>

        <div class="form-group">
            <label for="password">Clave</label>
            <input class="form-control" type="password" id="password" name="_password" required="required" />
        </div>

        <div class="checkbox">
            <label for="remember_me">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                Recordarme
            </label>
        </div>

        <input class="btn btn-success" type="submit" id="_submit" name="_submit" value="Entrar" />
    </form>
    
{% endblock %}
