{% extends '::base.html.twig' %}

{% block body -%}
<h1>ContenedorMercanciaFormato edit</h1>
{% include 'PuertoUDESFormatosBundle:ContenedorMercanciaFormato:_edit.html.twig' with {
    edit_form:   edit_form
}%}
<ul class="record_actions">
    <li>
        <a href="{{ path('contenedorMercanciaFormato_') }}">
            Volver
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
